.scene1 {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
}
.cen {
  display: grid;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  justify-items: center;
  overflow: hidden;
  grid-column: 1/1;
}
.vid {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  align-self: start;
  grid-area: 1/1;
  z-index: 1;
}
.title {
  margin: 1rem 0rem 0rem 0rem;
  align-self: center;
  grid-area: 1/1;
  z-index: 2;
  font-size: 8rem;
}
.naz {
  font-size: 8.5rem;
  color: red;
}
.zon {
  color: aliceblue;
}
.click {
  margin: 28.5rem 0rem 0rem 0rem;
  grid-area: 1/1;
  z-index: 3;
  height: 2rem;
  text-decoration: none;
  color: red;
  padding: 0.3em;
  border: 1px solid red;
}
.click:hover {
  background-color: black;
  color: aliceblue;
}
.sub {
  margin: 34rem 0rem 0rem 0rem;
  grid-area: 1/1;
  z-index: 3;
  color: aliceblue;
}
